*{

background-color:#2c462b;
}
#h1font{
  font-family: 'Caveat Brush', cursive;
  font-size: 120px;
  color: #f4924b;
}
#underrubrik{
  color: #f4924b;
  background-color: inherit;
}

#länkar{
  font-size: 30px;
  width: 1200px;
}

header{
  margin-left: 200px;
background-color:#2c462b;
grid-area:header;
}
#box1{
  background-color:#2c562b;
  grid-area:box1;
  display: flex;

}
#box2{
  background-color:#2c562b;
  grid-area:box2;
display: flex;
}

#box3{
  background-color:#2c562b;
  grid-area:box3;


}

footer{
background-color:inherit;
grid-area:footer;
font-size: 30px;
}
Div{
display:grid;
row-gap: 100px;;
grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
grid-template-rows:auto;
grid-template-areas:
  " header header header header header header header"
  " box1 box1 box1 box1 . . . "
  ". . . . . . ."
  ". . . box2 box2 box2 box2"
  ". . . . . . ."
  "box3 box3 box3 box3 . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  "footer . . . . . .";



}


#flask {
    width: 300px; height: 575px;
    background: url('css_sprites.png') -10px -530px;
}

#natur {
    width: 500px; height: 500px;
    background: url('css_sprites.png') -10px -10px;
}

#fö{

  background-color: #2c562b;
}

#nu{

  background-color: #2c562b;
}

h1{

  background-color: #2c562b;
}
#företagtext{
  background-color: #2c562b;

  font-size: 20px;

}
#Innehåll{
  background-color: #2c562b;
  color: black;
}

#naturtext{
  background-color: inherit;
  font-size: 20px;

}
#inText{
  background-color: #2c562b;
  font-size: 20px;

}


#Kontakta{
  display: flex;

}
#inBox{
  background-color: inherit;

}



@media screen and (max-width:1000px){
div{
grid-template-areas:
  " header header header"
  " aside aside main "
  "footer footer footer";
}

}
