*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bgimg{
  position:absolute;
}
*p{
  font-family: 'Josefin Sans', sans-serif;

}

img{

  top: 0px;
  left: 0px;
  height: 100%;
  width:100%;
}



  #woods{

    z-index: -4;
  }
  #woods1{
    z-index: -10;
  }
  #woods2{
    z-index: -15;
  }

li {
    list-style-type: none;
    text-decoration: underline;
    color: #05FFCD;
}
body
{
height: 200vh;
min-height: 100vh;
/*background:linear-gradient(#f72a0a, #f7b00a);*/
/*background: #2a1723;*/
background: #052c46;

width: 100%;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 2;
}
.link{
  color: #05FFCD;
  font-size: 25px;
  text-decoration: none;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px
}
header ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  text-decoration: none;
  padding: 6px 15px;
  color: #05FFCD;
  border-radius: 20px;
}
.grid-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2a1723;
  padding: 10px;
  width:100%;
}
.grid-item{

  width: 40vw;
}

header ul li:hover
header ul li.active{
  background: #373837;
}
#title{
  position: absolute;
  top: 250px;
  right: 200px;
  font-size: 600%;
  font-family: 'Josefin Sans', sans-serif;

  z-index:-6;
  color:#FF10F0;
}
#skydd{

  position: absolute;
  top: 100%;
  left: 0px;
  background: #2a1723;
  width: 100%;
  height: 1700px;;
  z-index: -9;
}
#text{
  position: sticky;
  font-size: 20px;
  color: #ffffff;
}
#watazter{

  width: 450px; height: 265px;
      background: url('../ParallaxBG/css_sprites.png') -10px -2627px;
}
#logo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  text-decoration: none;
  color: #05FFCD;
}

a:active{
  background-color: blue;
  color: Green;
}
a:visited {
 text-decoration: none;
 color: #05FFCD;
}
#rx7{
  width: 425px;
  height: 425px;
  background: url('../ParallaxBG/css_sprites.png') -1990px -10px;

}
#pixelpeople{
  width: 425px;
  height: 425px;
   background: url('../ParallaxBG/css_sprites.png') -1753px -1990px;
}
#worktext{
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
}
#animegirl{
  height: 425px;
  width: 425px;
  background: url('../ParallaxBG/css_sprites.png') -1233px -1990px;
}
#honda{
  width: 600px; height: 369px;
      background: url('../ParallaxBG/css_sprites.png') -2273px -1990px;
  }
#janae{
width: 425px;
height:425px;
}
#muffpix{
  background: url('../ParallaxBG/css_sprites.png') -3210px -10px;
}
#StickyDance{
  width: 425px; height:425px;
  background: url('../ParallaxBG/css_sprites.png') -3210px -774px;
}

#logo{
  font-size: 50px;
}
@media screen and (max-width: 1000px) {


.link{
  font-size: 20px;
}
#logo{
  font-size: 25px;
}

.grid-container{

flex-direction: column;

}

}
@media screen and (max-width: 580px) {
#logo{
  width: 500px;
  height: 300px;
  left: 12px;
}
.link{
  font-size: 12px;

}



}
